header img,.list-group img{
 
    height: 50px;
    margin-right: 10px;

}

header,footer{
    background-color: #eee;
    padding: 5px;
    min-height: 60px;
}
main{
    min-height: 80vh;
    background-color: #e5ddd5;
}
.timeago{
    color: #999;
    font-style: .8em;
}

#busca{
    background-color: #f8f8f8;
    min-height: 50px;
}

h6{
    margin: 0px;
}

.bb{
    padding:0px;
    
    }


    
.ss{
    padding:0px;
    
    }


   .container{
       padding:0px;
   }